#header-website{
    background-color: rgb(234, 231, 226);
    height: 210px;
    padding: 15px;
    border-radius: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#name-websie{
    font-family: 'Roboto Mono', monospace;
}

p{
    /* display: block; */
    /* width: auto; */
    margin-right: 250px;
    margin-left: 250px;
}
#facebook , #twitter , #github , #LinkedIn{
    width: 30px;
    height: 30px;
    opacity: 0.5;
    margin-left: 20px;


}


.img-facebook , .img-twitter , .img-linkedin , .img-github :hover {

    border: 0;

    /* background-color: red; */
    /* margin-left: 20px; */
    /* border: brown; */
}

/* button{
    border-color: rgb(51, 51, 238);
    border-style: solid;
    cursor:pointer;
} */